<p>
  <strong>Title:</strong>
  <%= @book.title %>
</p>

<p>
  <strong>Isbn:</strong>
  <%= @book.isbn %>
</p>

<p>
  <strong>Stock:</strong>
  <%= @book.stock %>
</p>

<p>
  <strong>Edition number:</strong>
  <%= @book.edition_number %>
</p>

<p>
  <strong>Genre:</strong>
  <%= @book.genre.capitalize %>
</p>

<p>
  <strong>Language:</strong>
  <%= @book.language.capitalize %>
</p>

<p>
  <strong>Pages:</strong>
  <%= @book.pages %>
</p>

<p>
  <strong>Publisher:</strong>
  <%= @book.publisher %>
</p>

<% if @book.authors.present? %><!-- Consultar si el libro tiene authores, de ser true muestra lo de abajo, si no lo oculta -->
  <ul>
    <% @book.authors.each do |author| %><!-- Lista los autores que pertenecen a este libro -->
      <li><%= author.full_name %></li>
    <% end %>
  </ul>
<% end %>

<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
