<!DOCTYPE html>
<html>
  <head>
    <title>LibraryApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "shared/navbar" %>

    <% if flash[:notice]%>
      <div class="notification py-3 text-white bg-info">
        <p class="notice"><%= notice %></p>
      </div>
    <% end %>

    <% if flash[:alert]%>
      <div class="notification py-3 text-white bg-danger">
        <p class="alert"><%= alert %></p>
      </div>
    <% end %>
    
    <%= yield %>
  </body>
</html>
